_archive/
__pycache__
.DS_Store
.env
.cache
.embeddings/
.prompts/
.scrubadub_cache/
data-private/
*.egg-info
*.pyc
*_dump
uv.lock
uv.lock
dist/*
site/
todos-notes
FILTH.md
REDACTED_INFO.md
notebooks/.ipynb_checkpoints
notebooks
site/*
_archive
soak/_archive_pipelines
docs/papers/jess/data/
docs/papers/calibration-methods_*
docs/_site
